body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cards {
  display: block;
}

.card {
  display: inline-grid;
  width: 19%;
  background-color: white;
  border-radius: 21px;
  margin: .42vw;
  border: .05vw solid black;
}

.card-image-container {
  position: relative;
  height: 18rem;
  overflow: hidden;
}

.card > ul li {
  font-size: 1vw;
}

.card > button {
  margin-bottom: 10px;
}

img {
  height: auto;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 2px;
}

em {
  color: red;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  margin-top: 23px;
  margin-left: 4px;
  margin-bottom: 26px;
}

h3.title {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 16px;
  font-style: italic;
  font-size: 123%;
}

a.nav {
  background-color: rgb(255, 99, 43);
  width: 15%;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  -webkit-text-stroke: .3px black;
}

.a {
  text-decoration: none;
  color: red;
}

.a:visited {
  color: red;
}

.nav:visited {
  color: white;
}

.nav:hover {
  color: rgb(125, 54, 249);
  font-style: italic;
  cursor: pointer;
}

.navbar {
  align-self: center;
  background-color: rgb(255, 99, 43);
  width: 100%;
}

button {
  width: 82%;
  position: relative;
  left: 9%;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
}

button.profile {
  width: fit-content;
  left: auto;
}

#centered {
  width: fit-content;
  position: absolute;
  left: 38%;
  -ms-transform: translate(-50, -50);
}

.welcome {
  background-color: rgb(255, 99, 43);
  color: white;
  height: 33px;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.welcome:hover {
  color: rgb(125, 54, 249);
}

#delete-btn {
  color: red;
}

#delete-btn:hover {
  font-style: italic;
}

.nickname {
  text-align: center;
  font-size: x-small;
  margin-top: 3px;
  margin-bottom: 7px;
  font-weight: 300;
  font-style: italic;
}

.empty {
  text-align: center;
  font-size: x-small;
  margin-top: 3px;
  margin-bottom: 7px;
  font-weight: 300;
  font-style: italic;
  color: white;
}

.team {
  margin-bottom: 40px;
}

html {
  background-color: rgb(255, 208, 186);
}

#bio {
  width: 89%;
}

#email {
  width: 48%;
}