body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  display: block;
}

.card {
  display: inline-grid;
  width: 20%;
}

.card-image-container {
  /* justify-self: center; */
  position: relative;
  height: 18rem;
  overflow: hidden;
}

.card > ul li {
  font-size: 1vw;
}

img {
  height: auto;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: none;
}

em {
  color: red;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  margin-top: 15px;
}